p {border: solid 1px;
    border-top : hidden;
    margin: 0px 2px;
    padding: 5px 20px;}

main  {width: 300px;
border-top: 0px;
border-bottom: 0px;}


p:hover {background: orange;}

p:last-of-type {border-bottom: hidden;}